---
import { Image } from "astro:assets";
import download from "../assets/download.svg";

export interface Props {
    profile: ImageMetadata;
    linkedin: string;
    github: string;
    resume: string;
}

const { profile, linkedin, github, resume } = Astro.props;
---

<div class="flex w-full flex-col">
    <div class="rounded-box grid grow place-items-center">
        <Image
            class="w-50 h-auto object-cover rounded-lg shadow-lg"
            src={profile}
            alt="profile picture"
        />
    </div>

    <div class="grid grow place-items-center">
        <div class="py-10">
            <div class="flex space-x-4">
                <!-- LinkedIn -->
                <a
                    href={linkedin}
                    target="_blank"
                    class="btn btn-ghost btn-circle text-primary"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                    >
                        <path
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966 0-1.75-.783-1.75-1.75s.784-1.75 1.75-1.75 1.75.783 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.268h-3v-5.5c0-1.379-1.122-2.5-2.5-2.5s-2.5 1.121-2.5 2.5v5.5h-3v-10h3v1.268c.813-1.194 2.268-1.894 3.75-1.894 2.623 0 4.75 2.127 4.75 4.75v5.876z"
                        ></path>
                    </svg>
                </a>

                <!-- GitHub -->
                <a
                    href={github}
                    target="_blank"
                    class="btn btn-ghost btn-circle text-primary"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                    >
                        <path
                            d="M12 .5c-6.627 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.385.6.111.793-.261.793-.577v-2.23c-3.338.725-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.09-.746.083-.73.083-.73 1.205.085 1.838 1.24 1.838 1.24 1.07 1.834 2.805 1.304 3.49.997.108-.775.42-1.304.763-1.604-2.665-.303-5.466-1.334-5.466-5.933 0-1.312.469-2.385 1.24-3.223-.124-.303-.538-1.523.116-3.176 0 0 1.012-.323 3.313 1.23.96-.267 1.99-.4 3.011-.404 1.021.004 2.051.137 3.011.404 2.301-1.553 3.313-1.23 3.313-1.23.654 1.653.24 2.873.116 3.176.771.838 1.24 1.911 1.24 3.223 0 4.612-2.805 5.626-5.476 5.923.43.37.815 1.102.815 2.222v3.293c0 .319.192.694.801.576 4.77-1.586 8.207-6.084 8.207-11.386 0-6.627-5.373-12-12-12z"
                        ></path>
                    </svg>
                </a>

                <!-- Resume Download -->
                <a
                    href={resume}
                    download
                    class="btn btn-primary btn-sm flex items-center"
                >
                    <span>Resume</span>

                    <Image
                        src={download}
                        alt="Download Resume"
                        class="w-5 h-5"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
